.about {
    margin-top: 6rem;
    /* display: flex;
    align-items: center;
    gap: 2rem; */
}

.about__info {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.about__info-h2 {
    font-size: 2rem;
}
.about__info-p{
    opacity: 0.8;
}

.about__vid {
    width: 100%;
    position: relative;
}
.about__vid video {
    width: 100%;
}
.about__vid-controls {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.controls {
    cursor: pointer;
    filter: invert(56%) sepia(81%) saturate(6319%) hue-rotate(229deg) brightness(85%) contrast(94%);
}

@media screen and (max-width: 900px) {
    .about__info {
        flex-direction: column;
        gap: 0;
    }
    .about__info-h2 {
        text-align: center;
    }
    .about__info-p {
        text-align: center;
    }
}