

.header {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}

.header__info {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
    flex-basis: 45%;
}

.header__info-h1 {
    font-weight: 800;
    font-size: 5rem;
    margin: 0;
    flex-basis: 45%;
}
.header__info-p {
    font-weight: 300;
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 3rem;
}

.header__info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: var(--color-main);
    padding: 1rem 1.5rem;
    color: aliceblue;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: 350ms;
}

.header__info-btn:hover{
    background-color: var(--color-alt);
    gap: 1.2rem;
}

.header__img {
    display: flex;
    width: 100%;
}
.header__img img {
    width: 100%;
}

.shapes {
    position: absolute;
}

@media screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }
    .header__info-p {
        opacity: 1;
        color: gainsboro;
    }
}



@media screen and (max-width: 1100px) {
    .header__info-h1 {
        font-size: 3rem;
    }
    .header__img {
        align-items: center;
        flex-basis: 40%;
    }
    .header__img img {
        height: 80%;
    }
    
}