.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    flex-direction: row;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: capitalize;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
    font-size: 0.7rem;
}
.footer a:hover {
    text-decoration: underline;
}

.footer-p {
    font-size: 0.7rem;
    color: aliceblue;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .footer > ul {
        flex-direction: column;
        text-align: center;
    }
}