

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lg {   
    display: flex;
}
.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: uppercase;
    color: aliceblue;
}


.list {
    text-align: center;
    text-transform: capitalize;
    list-style-type: none;
    gap: 2rem;
    font-weight: 300;
    opacity: 0.9;
    flex-direction: row;
}

.list a {
    text-decoration: none;
    color: var(--color-alt);
    cursor: pointer;
    transition: 300ms;
    color: aliceblue;
}

.toggle {
    cursor: pointer;
}

.list a:hover {
    color: var(--color-alt);
}
.navbar__items-btn {
    background-color: transparent;
    border: 1px aliceblue solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: aliceblue;
    transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.navbar__items-btn:hover {
    border-color: var(--color-alt);
    background-color: var(--color-main);
}


.navbar__items-sm {
    display: none;
}

@media screen and (max-width: 900px) {
    .navbar__items-sm {
        display: flex;
    }
    .navbar__items_overlay-sm {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        position: fixed;
        scrollbar-color: transparent;
        width: 102%;
        height: 102%;
        top: 0;
        left: -2px;
        background: url("../../assests/bg.png");
        background-repeat: no-repeat;
        animation: overlay 1500ms cubic-bezier(0.215, 0.610, 0.355, 1);
        /* animation-play-state: paused; */
        background-size: cover;
    }
    .overlay__close {
        position: absolute;
        top: 4rem;
        cursor: pointer;
        right: 3rem;
    }
    .navbar__items_overlay-sm ul {
        display: flex;
        margin-inline: auto;
        font-size: 1.5rem;
    }
    .lg {
        display: none;
    }
    .list {
        flex-direction: column;
        gap: 3rem;
    }
}


.toggled {
    overflow-y: hidden;
}
@media screen and (max-width: 1000px) {
    .navbar__items-btn {
        padding-inline: 0.5rem;
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}